@page "/"

<PageTitle>Home</PageTitle>



<section id="showcase">
    <div class="container">
        <div class="content">
            <h1 class="d4">Task Management Assistant You Gonna Love</h1>
            <p class="text-lg">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme-s" href="#">Get started for free</a>
            <h6>Largest companies use our tool to work efficiently</h6>
            <div class="brands">
                <img src="/images/brands/logo-1.svg" alt="">
                <img src="/images/brands/logo-2.svg" alt="">
                <img src="/images/brands/logo-3.svg" alt="">
                <img src="/images/brands/logo.svg" alt="">
               
            </div>
        </div>
    </div>
    <img class="background-image" src="/images/background/image.svg" alt="showcase image">
</section>

<section id="features">
    <div class="container">
        <div class="section-title">
            <h1>What Do You Get with Our Tool?</h1>
            <p class="text-lg">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>

        <div class="feature-boxes">

            <a class="box">
                <i class="fa-solid fa-comment-dots icon"></i>
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>
            <a class="box">
                <i class="fa-solid fa-display-chart-up-circle-currency icon"></i>
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </a>
            <a class="box">
                <i class="fa-regular fa-user-group icon"></i>
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>
            <a class="box">
                <i class="fa-regular fa-bell icon"></i>
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </a>
            <a class="box">
                <i class="fa-sharp fa-thin fa-ballot-check icon"></i>
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </a>
            <a class="box">
                <i class="fa-regular fa-shield icon"></i>
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </a>

        </div>
    </div>
</section>

<section id="light-dark-mode">

    <img src="/images/background/mockup.svg" alt="laptop">
    <a href="#toggle"><i class="fa-solid fa-arrow-right-arrow-left"></i></a>
    <div class="dark">
        <h1 class="title">Switch Between</h1>

    </div>
    <div class="light">
        <h1 class="title">Light & Dark Mode</h1>

    </div>


</section>

<section id="manage-work">
    <div class="container">
        <img src="/images/background/background-work.svg" alt="Application">
        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="text">

                <div class="box">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Powerful project management</p>
                </div>

                <div class="box">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Transparent work management</p>
                </div>

                <div class="box">
                    <i class="fa-regular fa-square-check"></i>
                    <p class="fix">Manage work & focus on the most important tasks</p>
                </div>

                <div class="box">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Track your progress with interactive charts</p>
                </div>

                <div class="box">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Easiest way to track time spent on tasks</p>
                </div>


            </div>
            <a class="btn-theme" href="">Learn more<i class="fa-solid fa-arrow-right"></i></a>
        </div>

    </div>

</section>

<section id="download-app">
    <div class="container">
        <img class="background" src="/images/background/app-background.svg" alt="Moible app">
        <div class="text">
            <h1>Download Our App for Any Devices:</h1>
            <div class="download">
                <div class="box">
                    <div class="reviews">
                        <p>App Store</p>
                        <img src="/images//icons/rating.svg" alt="">
                        <h4>Editor's Choice</h4>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <a href="https://www.apple.com/se/app-store/">
                        <img class="appstore-white" src="/images/icons/appstore-black.svg" alt="">
                        <img class="appstore-dark" src="/images/icons/appstore-white.svg" alt="">
                    </a>
                </div>
                <div class="box">
                    <div class="reviews">
                        <p>Google Play</p>
                        <img src="/images/icons/rating.svg" alt="">
                        <h4>App of the Day</h4>
                        <p>rating 4.8, 30K+ reviews</p>
                    </div>
                    <a href="https://play.google.com/">

                        <img class="googleplay-white" src="/images/icons/googleplay-black.svg" alt="">
                        <img class="googleplay-dark" src="/images/icons/googleplay-white.svg" alt="">

                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="work-tools">
    <div class="container">
        <div class="section-title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="tools">
            <a href="https://www.google.com/?hl=sv" class="box">
                <img src="/images/icons/Google.svg" alt="Google icon">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>

            <a href="https://zoom.us/sv" class="box">
                <img src="/images/icons/Zoom.svg" alt="Zoom icon">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </a>

            <a href="https://slack.com/" class="box">
                <img src="/images//icons/Slack.svg" alt="Slack icon ">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>

            <a href="" class="box">
                <img src="/images/icons/Gmail.svg" alt="Gmail icon">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </a>

            <a href="https://trello.com/sv" class="box">
                <img src="/images/icons/Trello.svg" alt="Trello icon">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </a>

            <a href="https://mailchimp.com/?currency=SEK" class="box">
                <img src="/images/icons/MailChimp.svg" alt="MailChimp icon">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>

            <a href="https://www.dropbox.com/sv_SE/" class="box">
                <img src="/images/icons/Dropbox.svg" alt="Dropbox icon">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </a>

            <a href="https://evernote.com/" class="box">
                <img src="/images//icons/Evernote.svg" alt="Evernote icon">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </a>
        </div>
    </div>
</section>

<BlazorWebApp.Components.Sections.SubscribeToNewsletter/>

