@page "/SingleCourse"

<section id="single-course-showcase">
    <img class="background-image" src="/images/background/single_course_background.svg" alt="">
    <div class="container">
        <div class="categories">
            <i class="fa-light fa-house"></i>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-light fa-arrow-right"></i>
            <a href="courses.html">Courses</a>
            <i class="fa-light fa-arrow-right"></i>
            <a  class="active ">Title </a>
        </div>
        <div class="section-title">
            <div class="tags">
@*                 @if (Model.Course.BestSeller != null)
                {
                    <div class="tag1">@Model.Course.BestSeller</div>
                } *@
                <div class="tag2">Digital</div>
            </div>
            <h1>Title</h1>
            <div class="text-lg">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</div>
            <div class="reviews-hours-likes">
                <img src="/images/icons/rating.svg" alt="">
                <p>(1.2K reviews)</p>
                <i class="fa-light fa-thumbs-up"></i>
                <p>Likes</p>
                <i class="fa-duotone fa-timer"></i>
                <p>Hours</p>
            </div>
        </div>

        <div class="profile">
            <img src="/images/profile/profile_1.svg" alt="">
            <div class="text">
                <p class="author">Created by</p>
                <p>Author</p>
            </div>
        </div>
    </div>
</section>

<section id="course-description">
    <div class="container">
        <div class="description">
            <div class="section-title">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <div class="learn">
                    <h3>What you'll learn</h3>

                    <p><i class="fa-regular fa-circle-check"></i>Sed lectus donec amet eu turpis interdum.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Nulla at consectetur vitae dignissim porttitor.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Phasellus id vitae dui aliquet mi.</p>
                    <p><i class="fa-regular fa-circle-check"></i>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    <p><i class="fa-regular fa-circle-check"></i>In aenean dolor diam tortor orci eu.</p>
                </div>
            </div>
            <div class="includes-box">
                <h4>This course includes:</h4>
                <p><i class="fa-solid fa-video"></i>Model hours on-demand video</p>

                <p><i class="fa-solid fa-download"></i>25 downloadable resources</p>

                <p><i class="fa-solid fa-infinity"></i>Full lifetime access</p>

                <p><i class="fa-solid fa-trophy"></i>Certificate of completion</p>

                <p><i class="fa-solid fa-newspaper"></i>18 articles</p>
                <div class="price">
                    <h2>Price</h2>
                    <h2>Saleprice</h2>
                    <h5><s>Oldprice</s></h5>
                </div>
                <a class="btn-theme" href="">Join course</a>
            </div>
        </div>
        <div class="program-details">
            <h1>Program Details</h1>
            <div class="steps">
                <div class="step">
                    <img src="/images/icons/1.svg" alt="">
                    <div class="text">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="step">
                    <img src="/images/icons/2.svg" alt="">
                    <div class="text">
                        <h4>The ultimate HTML developer: advanced HTML</h4>
                        <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                </div>
                <div class="step">
                    <img src="/images/icons/3.svg" alt="">
                    <div class="text">
                        <h4>CSS & CSS3: basic</h4>
                        <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                </div>
                <div class="step">
                    <img src="/images/icons/4.svg" alt="">
                    <div class="text">
                        <h4>JavaScript basics for beginners</h4>
                        <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                </div>
                <div class="step">
                    <img src="/images/icons/5.svg" alt="">
                    <div class="text">
                        <h4>Understanding APIs</h4>
                        <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                </div>
                <div class="step">
                    <img src="/images/icons/6.svg" alt="">
                    <div class="text">
                        <h4>C# and .NET from beginner to advanced</h4>
                        <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="author">
            <img src="/images/profile/author.svg" alt="">
            <div class="section-title">
                <img class="background" src="/images/background/pattern.svg" alt="">
                <div class="text">
                    <h5>Learn from the best</h5>
                    <h1>Author</h1>
                    <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                    <div class="buttons">
                        <a class="btn-theme youtube" href=""><i class="fa-brands fa-youtube"></i>240k subscribers</a>
                        <a class="btn-theme twitter" href=""><i class="fa-brands fa-twitter"></i>180k followers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
