.external-login {

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;

        .alert {
        }

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .div {
                form {

                    div {
                    }

                    button {
                    }
                }
            }
        }
    }
}
