.settings {
        
    margin-right: 130px;


    @media (max-width: 1400px) {
        margin-top: 20px;
        margin-right: 50px;
    }

    @media (max-width: 1200px) {
        margin-right: 0;
    }

    h2 {

        @media (max-width: 1200px) {
            text-align: center;

        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        label {
            color: black;
        }

        @media (max-width: 1200px) {
            align-items: center;
            text-align: center;
        }

        @media (max-width: 416px) {

            input {
                width: 320px;
            }
        }

        .email {

            input {
                margin-top: 5px;
                display: block;
                width: 416px;
                border-radius: 5px;
                padding: 10px 10px;
                border: 1px solid grey;
            }
        }

        .switches {

            .form-switch {

                @media(max-width: 768px) {
                    padding: 0;
                    margin: 0;
                }

            }


            .form-check {

                @media (max-width: 1200px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;
                }

                .form-check-input {
                    padding: 10px 20px;
                    margin-right: 10px;

                    &:checked {
                        background-color: #22C55E;
                        border-color: #22C55E;
                    }
                }

                label {
                    display: block;
                    padding-left: 12px;
                }
            }
        }


        .buttons {
            display: flex;
            gap: 30px;
            transition: all 0.25s ease-in-out;
            margin-bottom: 20px;

            @media (max-width: 416px) {
                flex-direction: column;
            }

            @media (max-width: 1200px) {
                margin-top: 40px;
            }


            .btn-theme {
                transition: all 0.25s ease-in-out;
            }

            #cancel {
                background-color: #EFF2FC;
                color: black;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: grey;
                }
            }
        }
    }
}
