.courses {
    align-self: flex-start;
    max-width: 856px;

    .container {

        @media(max-width: 500px) {
            padding :0;
        }
    }

    .title-button {
        display: flex;
        justify-content: space-between;

        h2 {

            margin-right: 200px;

            @media (max-width: 500px) {
                margin-right: 50px;
            }
        }

        form {

            button {
                background-color: white;
                color: red;
                padding: 8px 30px;

                @media (max-width: 770px){

                    padding: 5px;
                }
            }
        }
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-top: 40px;

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }



        .article {
            position: relative;
            box-shadow: 0 0 11px rgba(33,33,33,.2);
            display: block;
            border-radius: 15px;
            color: #9397AD;
            text-decoration: none;
            transition: background-color 0.25s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: #EFF2FC;
            }

            .saved {
                color: Grey;
                position: absolute;
                background-color: $theme;
                border: none;
                border-radius: 25px;
                padding: 7px 13px;
                right: 8%;
                top: 4%;

                &:hover {
                    background-color: white;

                    .fa-bookmark {
                        color: grey;
                    }
                }

                .fa-bookmark {
                    color: white;
                    border-radius: 25px;
                }
            }

            .not-saved {
                position: absolute;
                background-color: white;
                border: none;
                border-radius: 25px;
                padding: 7px 13px;
                right: 8%;
                top: 4%;


                &:hover {
                    background-color: $theme;

                    .fa-bookmark {
                        color: white;
                    }
                }

                .fa-bookmark {
                    color: Grey;
                    border-radius: 25px;
                }
            }


            .best-seller {
                position: absolute;
                left: 4%;
                top: 4%;
                @include text-s;
                color: white;
                background-color: #22C55E;
                padding: 0px 5px;
            }

            img {
                width: 100%;
            }

            .article-content {
                padding: 25px;


                p {

                    @include text-s;
                }


                .price {
                    display: flex;
                    color: #6366F1;
                    font-size: 16px;
                    margin-bottom: 20px;

                    .sale {
                        color: #EF4444;
                        font-size: 18px;
                        margin-right: 10px;
                        align-self: center;
                    }

                    p {
                        color: #9397AD;
                        font-size: 16px;
                        margin: 0;
                        align-self: center;
                    }
                }

                .hours-likes {
                    padding-top: 25px;
                    display: flex;
                    gap: 25px;
                    border-top: 1px solid #E2E5F1;

                    i {
                        align-self: center;
                        margin-right: 5px;
                    }

                    .hours {
                        display: flex;

                        p {
                            margin: 0;
                        }
                    }

                    .likes {
                        display: flex;


                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
