@page "/Account/manage"


<PageTitle>Details</PageTitle>

<div class="basic-info">
    <h2>Account Details</h2>
    <h5>Basic Info</h5>
    <form method="post" asp-controller="Account" asp-action="Details" novalidate>

        <div class="name">
            <div class="firstname">
                <label>First name</label>
                <input>
                <span></span>
            </div>
            <div class="lastname">
                <label>Last name</label>
                <input>
                <span></span>
            </div>
        </div>
        <div class="email-phone">

            <div class="email">

                <label>Email address</label>
                <input>
                <span></span>

            </div>
            <div class="phone">

                <label>Phone</label>
                <input>
                <span></span>

            </div>
        </div>

        <div class="bio">

            <label>Biography</label>
            <textarea rows="4"> </textarea>

        </div>

        <div class="buttons">
            <button id="cancel" class="btn-theme" type="reset"> Cancel</button>
            <button class="btn-theme" type="submit">Save changes </button>
        </div>
    </form>
</div>
<div class="address">
    <h5>Address</h5>
    <form method="post" novalidate>

        <div class="Address-line-1">
            <div class="Address1">
                <label>Address line 1</label>
                <input>
                <span></span>
            </div>
        </div>
        <div class="Address-line-2">
            <div class="Address2">
                <label>Address line 2 (optional)</label>
                <input >
                <span ></span>
            </div>
        </div>

        <div class="Postal-code-city">
            <div class="postal-code">
                <label>Postal code</label>
                <input >
                <span></span>
            </div>
            <div class="city">
                <label>City</label>
                <input >
                <span ></span>
            </div>
        </div>

        <div class="buttons">
            <button id="cancel" class="btn-theme" type="reset">Cancel </button>
            <button class="btn-theme" type="submit">Save changes</button>
        </div>
    </form>
</div>



@*  @code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);

        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }
} *@
 