@page "/Account/SavedCourses"



<div class="courses">
    <div class="title-button">
        <h2>Saved Items</h2>
        <form method="post" >
            <button class="btn-theme-s"><i class="fa-solid fa-trash"></i>Delete all</button>
        </form>

    </div>
    <div class="articles">

        <div class="article">
            <div class="best-seller">Best seller</div>


            <a href="#" class="not-saved" ><i class="fa-regular fa-bookmark"></i></a>

            <img src="/images/articles/article-1.svg" alt="">
            <div class="article-content">
                <h5>Title</h5>
                <p>Author</p>
                <div class="price">
          
                <div> Price</div>

                <div class="sale">Sale price</div>
                <s><p>Old price</p></s>
                    
                </div>
                <div class="hours-likes">
                    <div class="hours">
                        <i class="fa-duotone fa-timer"></i>
                        <p>Hours</p>
                    </div>
                    <div class="likes">
                        <i class="fa-light fa-thumbs-up"></i>
                        <p>Likes</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>