@inherits LayoutComponentBase
@layout AccountLayout

<section id="account">
    <div class="container">
        <div class="profile">
            <div class="profile-picture">
                <img src="/images/profile/image.svg" alt="Profile picture">
                <i class="fa-solid fa-repeat"></i>
                <h5>firstname lastname</h5>
                <p>profile email</p>
            </div>
            <div class="buttons">
                <NavLink class="btn-theme" href="/Account/Manage"><i class="fa-regular fa-gear"></i>Account Details</NavLink>
                <NavLink class="btn-theme" href="/Account/PersonalData"><i class="fa-solid fa-lock"></i>Security</NavLink>
                <NavLink class="btn-theme" href="/account/Notifications"><i class="fa-solid fa-bell"></i>Notifications</NavLink>
                <NavLink class="btn-theme" href="/account/Messages"><i class="fa-solid fa-message"></i>Messages</NavLink>
                <NavLink class="btn-theme" href="/Account/SavedCourses"><i class="fa-solid fa-bookmark"></i>Saved Courses</NavLink>
                <NavLink class="btn-theme" href="/Account/SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</NavLink>
            </div>
        </div>
        <div class="details">
            @Body
        </div>
         
    </div>
</section>
